{{ title }} - в наличии, магазин "Monte-Island".

Параметры товара:
Бренд: {{ brand }}
Цвет: {{ color }}
Размеры: {{ sizes|join(' / ') }}

Условия заказа:
После оформления напишите в сообщения свой рост и вес для точного подбора размера.
При наличии нескольких цветов модели - сообщите нужный вариант.
Проверка товара строго в пункте выдачи при получении, это и есть условие возврата.
Цена в объявлении финальная.

Доставляем по всей России, вопросы - в личные сообщения.
Больше моделей смотрите в профиле "Monte-Island" 🧡
